@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body{
    background: url(img/cloud.jpg);
    background-repeat:repeat;
    background-color: rgb(82, 157, 218);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1.5em;
  }
  ul > li {
    list-style: none;
  }
  .card,
  .reset-btn {
    cursor: pointer;
  }
  .btn {
    border-radius: 2em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
    margin-bottom: 10px;
  }

  /* Header Section*/

h1 {
    font-size: 4em;
    font-family: "original surfer";
    text-shadow: 0 0 10px #ffd900, 0 0 10px #ffa600;
  }
  
h2 {
    font-size: 2.5em;
    font-family: "original surfer";
    text-shadow: 0 0 10px #ffd900, 0 0 10px #ffa600;
  }

  h3 {
    font-size: 1.5em;
    font-family: "original surfer";
  }
  
p {
    font-size: 1.5em;
    font-family: "original surfer";
  }

  #begin{
    padding-top:1em;
  }

/* Score Panel*/
  
  .reset-btn {
    background: black;
    font-size: 1em;
    font-family: "original surfer";
  }
  
  .timer-container {
    background: black;
    border-radius: 0.5em;
    color: #fff;
    margin: 0.5em;
    padding: 0.3em;
    font-size: 1.5em;
    font-family: "original surfer";
  }
  


  /* Modal Sections*/

/* Modal (background) */
.modal {
    /*Hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgb(46, 61, 73);
    /* With opacity */
    background-color: rgba(46, 61, 73, 0.6);
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    /* 5% from the top and centered */
    margin: 2% auto;
    border: 0.8em solid #fc4;
    padding-right: 1em;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
  }
  
  .close:hover,
  .close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Modal Image*/
  .modal-img {
    display: inline-block;
    margin: 0.5em 0 0.5em;
    width: 15em;
  }
  
  p.stats {
    font-weight: 600;
  }
  
  p.stats:last-child {
    margin-bottom: 1em;
  }
  
  .play-again-btn {
    background: #28e;
    margin-bottom: 1em;
  }


  /* --- Card Deck --- */

.deck {
    background: #fc4;
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 35em;
  }
  
  .deck,
  .card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  .card {
    background:#fc4;
    background:rgb(99, 156, 212);
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
  }
  
  /*
  To disable the color highlight if and img is clicked
  https://stackoverflow.com/questions/21107439/disable-or-change-firefoxs-element-image-highlight-color
  */
  img {
    user-select: none;
    width: 6em;
  }
  
  .deck img {
    visibility: hidden;
 
  }
  
  .deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    
  }
  
  .flip img {
    background: #fff;
    visibility: visible;    
  }
  
  .deck .card.match {
    background: #fff;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
  }
  
  .match img {
    background:#fff;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (min-width: 550px) {

    .deck  {
      height: 50em;
      padding: 2em;
      width: 50em;
    }
  
    .card {
      height: 10em;
      width: 10em;
    }
  
    .deck img {
      width: 9em;
    }
  
    .modal-content h2 {
      font-size: 4em;
    }
  
    .play-again-btn {
      font-size: 1.8em;
    }
  }
  
  